* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

.row {
    display: flex;
}
address {
    all: initial;
}
a {
    text-decoration: none;
}
a, a:visited, a:hover, a:active {
    color: inherit;
}

.node-button{
    background: none;
    border: none;
    font-size: 20px;
}