/*hero img*/
#hero-image-wrapper{
    width: fit-content;
}
#hero-image-wrapper > div > img{
    width: 50vw;
}
/*second part of page*/


.UIInput-border {
    align-self: flex-end;
    box-shadow: 0 0.125rem 0 0 black;
    display: block;
    height: 0.25rem;
    width: 100%;
}

#question-button{
    min-width: 25px;
    background: none;
    border: none;
}

.UIDivider-separator {
    flex-basis: 2px;
    flex-grow: 1;
}

fieldset {
    border: none;
}

.chevron-down-chevron{
    width: 10px;
}

.UIDivider-separatorLine {
    border: none;
    border-bottom: 0.125rem solid #DADDE7;
    height: 5px;
    margin-bottom: 0;
    overflow: visible;
}

.UIDivider-label {
    color: #DADDE7;
    flex-grow: 0;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: .0625rem;
    line-height: 1.333333333333333;
    padding: 0 1.25rem;
    text-align: center;
    text-transform: uppercase;
}
/*close*/
#close-log-sign-pop-up{
    cursor: pointer;
    border-radius: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    z-index: 101;
}
#close-log-sign-pop-up > img{
    width: 1.5rem;
}

/*switch*/
.switch{
    margin-bottom: 2rem;
    margin-top: 2rem;
    column-gap: 2rem;
    justify-content: space-between;
}

.switch-img{
    width: 75%;
}

.switch-item{
    cursor: pointer;
}
.switch-item h4{
    font-size: 1.5rem;
    overflow: hidden;
}

/*social-media*/
.social-media-label{
    letter-spacing: .0625rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.social-media-list > li > a > div{
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: .0625rem;
    line-height: 1.222222222222222;
    padding: 3%;
    border: 2px solid #DADDE7;
    border-radius: 4px;
    padding-left: 0.5rem;
}
.social-media-list{
}


.social-media-list > li > a > div > img{
    width: 1.875rem;
    margin-left: 5%;
}
.social-media-list{
    width: 100%;
}
.social-media-list > li{
    margin-bottom: 3.5%;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.input-personal-data-container{
    display: none;
}
#separator-or-email{
    display: none;
}

#log-sign-content-wrapper{
    width: 50vw;
    margin: 1rem;
}

#content{
    justify-content: center;
    align-items: center;
}
#log-sign-body {
}
#log-in-header{
    width: 100%;
    position: relative;
}

*{
    border: dashed 1px red;
}


