.hero-section-background {
    background-image: url(/asserts/img/hero-image.webp);
    background-size: cover;
    height: 720px;
}

address {
    text-decoration: none;
}

@media (max-width: 767px) {
    .node img{
        width: 50vh;
        height: 100vh;
    }
}

@media (min-width: 768px) {
    .node img{
        width: 50vh;
        height: 50vh;
    }
}

