.hero-background{
    box-sizing: border-box;

    width: 375px;
    height: 537px;
    left: 0;
    top: 96px;

    background: conic-gradient(from 180.15deg at 50.13% 49.91%, rgba(237, 207, 95, 0.96) -42.5deg, rgba(133, 5, 165, 0.88) 132.92deg, rgba(237, 207, 95, 0.96) 317.5deg, rgba(133, 5, 165, 0.88) 492.92deg);
    /* Light gray corner color */

    border: 3px solid #DADDE7;
}

.circle-close-button img{
    height: 100%;
}

.background-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
}

.background-wrapper .first-background{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}
.background-wrapper .image-background{
    z-index: 10;
}
.image-background{
    width: 90vw;
}
.SiteHeaderLogo-link{
    background-color: initial;
    border: none;
    cursor: pointer;
    display: inline;
    font-size: .875rem;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.125rem;
}
#menu-button{
    height: 100%;
    align-items: center;
    justify-content: center;
}
#menu-button img{
    max-width: 80%;
}

/*menu-mobile*/

.c1k21r5l .cefz98 {
    background-color: initial;
}
.c1k21r5l {
    align-items: center;
    border: 0.0625rem solid #d9dde8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 0 0.6875rem 0 0;
    max-height: 2.5rem;
    max-width: 2.5rem;
}
.cefz98 {
    display: block;
    left: 0;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 301;
}
.circle-close-button{
    border-radius: 50%;
    padding: 0.5rem;
    width: 2.5rem;
    background: none;
    color: #5A627D;
    align-items: center;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.circle-close-button img{
    height: 1.5rem;
    width: 1.5rem;
}
.menu-title-wrapper-mobile {
    justify-content: space-between;
}
#mobile-menu{
    margin: 1rem;
}
.menu{
    margin-inline: 1rem;
}

.menu > li > a{
    display: block;
    margin-block: 3rem;
    font-size: 1.5rem;
    font-weight: 500;
}
/*menu-mobile end*/
