/*menu-mobile*/

.c1k21r5l .cefz98 {
    background-color: initial;
}

.c1k21r5l {
    align-items: center;
    border: 0.0625rem solid #d9dde8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 0 0.6875rem 0 0;
    max-height: 2.5rem;
    max-width: 2.5rem;
}

.cefz98 {
    display: flex;
    justify-content: center;
    left: 0;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 301;
}

.circle-close-button {
    border-radius: 50%;
    padding: 0.5rem;
    width: 2.5rem;
    background: none;
    color: #5A627D;
    align-items: center;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.circle-close-button img {
    height: 1.5rem;
    width: 1.5rem;
}

.menu-title-wrapper-mobile {
    justify-content: space-between;
}

#mobile-menu {
    margin: 1rem;
}

.menu {
    margin-inline: 1rem;
}

.menu > li > a {
    display: block;
    margin-block: 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

/*menu-mobile end*/
.circle-close-button img {
    height: 100%;
}

.SiteHeaderLogo-link {
    background-color: initial;
    border: none;
    cursor: pointer;
    display: inline;
    font-size: .875rem;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.125rem;
}

#menu-button {
    height: 100%;
    align-items: center;
    justify-content: center;
}

#menu-button img {
    max-width: 100%;
}

@media (max-width: 767px) {
    .hero-background {
        box-sizing: border-box;

        width: 375px;
        height: 537px;
        left: 0;
        top: 96px;

        background: conic-gradient(from 180.15deg at 50.13% 49.91%, rgba(237, 207, 95, 0.96) -42.5deg, rgba(133, 5, 165, 0.88) 132.92deg, rgba(237, 207, 95, 0.96) 317.5deg, rgba(133, 5, 165, 0.88) 492.92deg);
        /* Light gray corner color */

        border: 3px solid #DADDE7;
    }

    /*background*/
    .first-background {
        /*change on js*/
        height: inherit;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -10;
    }

    :root {
        --my-percentage: 85%;
    }

    .image-background {
        z-index: 10;
        width: var(--my-percentage);
        height: var(--my-percentage);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1.5rem;
    }

    .text-info {
        position: absolute;
        z-index: 30;
        /*left: 50%;*/
        /*top: 50%;*/
        transform: translate(-50%, -50%);
    }

    .social-contacts {
        display: none;
    }

    /*background end*/


    header {
        width: 100%;
        position: static;
    }

    .mobile-header {
        box-sizing: border-box;
    }

    .search-input-box {
        width: 25%;
        border-radius: 0.7rem;
    }

    .header-right-part {

    }

    .SiteNavLoginSection-loginButton {
        padding: 0 0.5rem;
    }

    .header-enter-buttons.row {

    }

    .log-in-button {
        font-size: 1rem;
    }

    .more-join-block button, .more-join-block {
        display: block;
    }

    .search-input {
        letter-spacing: normal;
        line-height: 1.5;
        font-size: 1rem;
    }

    .navigation-menu {
        display: none;
    }

    #menu-button {
        display: flex;
        margin-block: auto;
    }

    section {
        box-sizing: border-box;
        margin: 0;
        height: 100vh;
        /* position: static; */
        /* display: none;
        }
        #hero-section{
            /*display: block;*/
    }

    section div {
        width: inherit;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*#benefits {*/
    /*    margin: 0;*/
    /*}*/
    .background-wrapper {
        /*position: relative;*/
        height: inherit;
        width: inherit;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }

    .text-info {
        width: var(--my-percentage);
        position: relative;
        z-index: 30;
        /* justify-content: space-between; */
        /* left: 0; */
        top: 0;
        transform: translate(0, 0);
    }

    .text-info > h2 {
        width: 100%;
        position: absolute;
        top: calc(100% - var(--my-percentage));
        font-weight: 700;
        text-align: center;
        font-size: 7vw;
        margin-inline: auto;
        line-height: 149%;
        letter-spacing: -0.165px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .text-info-paragraph {
        width: 100%;
        padding-inline: 6%;
        position: absolute;
        bottom: calc(100% - var(--my-percentage));
        font-weight: 700;
        text-align: left;
        font-size: 5.5vw;
        margin-inline: auto;
        line-height: 149%;
        letter-spacing: -0.165px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .text-info-paragraph > ul {
        width: fit-content;
        margin-inline: auto;
    }

    #benefits .text-info-paragraph {
        font-size: 1rem;
    }

    /*shadows*/
    #hero-section h2 {
        -webkit-text-stroke: 1px rgba(85, 98, 247, 0.35);
        text-shadow: 4px 4px 10px rgba(43, 78, 80, 0.45), -4px -4px 10px rgba(43, 78, 80, 0.45);
    }

    #hero-section .text-info-paragraph {
        -webkit-text-stroke: 1px #5562f73b;
        text-shadow: 2px 2px 10px rgba(195, 44, 150, 0.14), -2px -2px 10px rgba(195, 44, 150, 0.14);
    }

    #benefits h2 {
        -webkit-text-stroke: 1px #5562f7d6;
        text-shadow: 4px 4px 10px rgba(43, 78, 80, 0.45), -4px -4px 10px rgba(43, 78, 80, 0.45);
    }

    #benefits .text-info-paragraph {
        -webkit-text-stroke: 1px #5562f754;
        padding-right: 27%;
        text-shadow: 2px 2px 10px rgba(195, 44, 150, 0.14), -2px -2px 10px rgba(195, 44, 150, 0.07);
    }

    #where h2 {
        background: rgb(43 78 80 / 19%);
        -webkit-text-stroke: 1px rgba(29, 98, 25, 0.25);
        text-shadow: 4px 4px 10px rgb(16 81 12 / 20%), -4px -4px 10px rgb(16 81 12 / 20%);
    }

    #where .text-info-paragraph {
        -webkit-text-stroke: 1px rgba(29, 98, 25, 0.15);
        text-shadow: 4px 4px 10px rgba(16, 81, 12, 0.2), -4px -4px 10px rgba(16, 81, 12, 0.2);
    }

    #when h2 {
        -webkit-text-stroke: 1px rgba(85, 98, 247, 0.35);
        text-shadow: 0 1px 4px rgba(85, 98, 247, 0.37);
    }

    #when .text-info-paragraph {
        -webkit-text-stroke: 1px rgba(85, 98, 247, 0.35);
    }

    #contacts h2 {
        -webkit-text-stroke: 1px rgba(85, 98, 247, 0.01);
        text-shadow: 0 1px 4px rgba(85, 98, 247, 0.37);
    }

    #contacts .text-info-paragraph a {
        -webkit-text-stroke: 1px rgba(85, 98, 247, 0.35);
    }

    /*shadows*/
    /*scroll*/
    #tournaments{
        width: 100vw;
        padding: 0;
        margin: 0;
        /*display: block;*/
    }
    .node img{
        width: 100%;
        height: 75vh;
        position: relative;
        z-index: 30;
        top: 0;
        transform: translate(0, 0);
    }
    .node{
        display: block;
    }
    .info-block{
        display: block;
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 6%;
        z-index: 50;
        box-shadow: 0 23px 20px 1px #ffffffcc;
        background: linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0.2) 34.9%), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.76) 68.23%);
    }
    .info-block > *{
        margin-inline: auto;
        padding: 2%;
    }
    .text-info-of-node{
        display: block;
        height: 50%;
        color: #FFFFFF;
        overflow: hidden;
    }
    .text-info-of-node h3{
        text-align: center;
        letter-spacing: -0.165px;
        font-weight: 700;
        font-size: 2rem;
        color: #292D3C;
    }
    .text-info-of-node p{
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 90%;
        text-align: justify;
        letter-spacing: -0.165px;
        color: #292D3C;
    }
    .more-join-block{
        height: 50%;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .more-join-block > button{
        margin: 0;
        height: 50%;
        width: 100%;
    }
    .more-join-block > button > span{
        height: 100%;
        border-radius: 0;
        font-size: 123%;
    }
    .slide-arrow{
        display: none;
    }
    :root{
        --mobile-scroll-header-height: 8vh;
        --mobile-bottom-scroll-height: 10vh;
    }
    .mobile-scroll-header{
        width: 100vw;
        height: var(--mobile-scroll-header-height);
        justify-content: space-around;
        /* margin-inline: auto; */
        position: relative;
    }
    .mobile-scroll-header > .c1k21r5l{
        position: absolute;
        right: 3%;
    }
    .mobile-heading-of-tournaments{
        font-weight: 700;
        font-size: 2rem;
        line-height: 60%;
        text-align: center;
        letter-spacing: -0.165px;

        color: #292D3C;
    }

    .slider-wrapper-mobile{
        width: inherit;
        height: calc(100vh - var(--mobile-scroll-header-height) - var(--mobile-bottom-scroll-height));
        /*height: fit-content;*/
    }
    #scroll-list{
        width: 100%;
        height: 90%;
        padding: 0;
    }
    .scroll-list > li > div{
        /* justify-content: center; */
        width: 100%;
        position: relative;
        /* align-items: center; */
        display: flex;
    }
    .scroll-list > li > div > img{
    }
    .horizontal-scroll-bottom-area{
        position: relative;
        overflow: hidden;
        /*display: none;*/
        height: var(--mobile-bottom-scroll-height);
    }
    #horizontal-scroll-list-of-tournaments > li{
        box-sizing: border-box;
        width: 100%;
        padding-inline: 2%;
        height: 100%;
        /*flex: 3 3 auto;*/
        /*justify-content: center;*/
        /*align-items: center;*/
    }
    #horizontal-scroll-list-of-tournaments > li > img{
        width: 7vw;
        height: 5vh;
        margin-inline: auto;
    }
    .scroll-list > li{
        height: fit-content;
    }
    #horizontal-scroll-list-of-tournaments > li > div > span{
        font-size: calc(var(--mobile-bottom-scroll-height) / 2);
    }
    .slide-arrow-mobile{
        display: block;
        height: 76%;
        background: none;
        border: none;
    }
    .slide-arrow-mobile > img{
        height: 100%;
        opacity: 0.7;
    }

    .slide-arrow-mobile > img:hover, :focus {
        opacity: 1;
    }
    .snaps-inline{
        scroll-padding-inline: 0;
    }
    #horizontal-scroll-list-of-tournaments{
        overflow: scroll;
        scroll-behavior: smooth;
        margin-inline: 0;
    }
    header{
        /*display: block;*/
    }
    /*scroll end*/

}